/* main-page */

.hero-page {
  // max-width: 1600px;
  // max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: $gradient, url("../img/team.jpg");
  background-size: cover;
  background-position: center;
  background-color: $hero-color;
  padding: 200px 0;

  z-index: 1;
}

.hero-page__title {
  // width: 700px;
  margin: 0 auto;
  color: $main-white;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-page__button {
  @include btn(216px);
}
