/* our-benefits */
.our-benefits {
  padding-top: 94px;
}

.our-benefits__list {
  // display: flex;
  column-gap: 30px;
}

.our-benefits__item {
  max-width: 270px;
}

.our-benefits__title {
  color: $main-black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-benefits__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-text;
}

.our-benefits__visibility{
  @extend %visibility;
}