.connect {
  display: flex;
  flex-direction: column;

  padding: 60px 0;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
    margin-right: 0;
    margin-left: 70px;
  }
}

.connect__icon-link {
  background-color: #45454f;
}

.connect__icon-icon {
  fill: $main-white;
}

.connect__title {
  display: block;
  font-size: 700;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
