/* foot-info */

.foot-info {
  padding: 60px 0;
  background-color: $hero-color;
}

.foot-info__link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-white;
}

.footer-link{
  @media screen and (max-width:1199px ) {
    display: block;
  }
}

.footer__link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  transition: color 250ms $cubic;
  text-decoration: none;
  text-align: center;

  &--animation:hover,
  &--animation:focus {
    color: $main-blue;
  }
}

.foot-info__block{
  @media screen and (min-width:768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    margin-bottom: 60px;
  }
@media screen and (min-width:1200px){
  display: flex;
}

}

.feedback-foot {
  &--animation:hover,
  &--animation:focus {
    color: $main-blue;
  }
}

.foot-info__feedback {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.foot-info--text {
  color: rgba(255, 255, 255, 0.6);
}

.foot-info-boxs{
@media screen and (min-width: 1200px) {
  display: flex;
}
}