/* subscribe */

.subscribe {
  // display: flex;
  // flex-direction: column;
  // margin-left: 93px;
  // padding-top: 12px;
  text-align: center;
}
.subscribe__bold {
  display: inline-block;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  margin-bottom: 20px;

  color: #ffffff;
}
