/* subscribe */

.subscribe {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {

    margin-left: 93px;
  }
}
.subscribe__bold {
  display: inline-block;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: #ffffff;
}
