/* subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  padding-top: 12px;
}
.subscribe__bold {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}