%visibility {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-white;
}

%title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: $main-black;
}

%container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

%aligh {
  display: flex;
  align-items: center;
}

