$logo-black: rgba(0, 0, 0, 1);
$main-black: rgba(33, 33, 33, 1);
$main-blue: rgba(33, 150, 243, 1);
$main-white: rgba(255, 255, 255, 1);
$color-text: rgba(117, 117, 117, 1);
$hero-color: rgba(47, 48, 58, 1);
$btn-color: rgba(245, 244, 250, 1);
$color-icon: rgba(175, 177, 184, 1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
$bgc-shaw: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
