.menu-container{
    @media screen and (max-width:768px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 480px;
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
}
