.page-header {
 
  border-bottom: 1px solid #ececec;
  @media screen and (mam-width:767px) {
   position: relative;
}
}

.page-header__container {
position: relative;
  @extend %container;
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.page-header__nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.page-header-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #ffffff;
   border: 0px;
}
 @media screen and (min-width: 767px) {
    .page-header-btn {
      display: none;
    }
  }

.backdrop__icon--close{
  transition: fill 250ms $cubic;
}

.backdrop__button--close-hover:hover {
  fill: $main-blue;
}


